<extend name="Public/base" />

<block name="main">
    <br>
  
  <button class="btn btn-success href" url="{:U('Area/update')}" target-form="ids">修改</button>&nbsp;
  <h2>布局预览</h2>
     <if condition="$row.cate_id eq 1 "> 
     <div class="buju1" style="width: 500px;height: 500px;border: solid red 1px;">
	<div style="width: 200px;height: 200px;border: solid #000 1px;float: left;margin: 20px 20px"><a href="{$row.url1}"><img src="{$img['1']['path']}" style="width: 200px;height: 200px;"></a></div>
	<div style="width: 200px;height: 400px;border: solid #000 1px;float: right;margin: 50px 20px"><a href="{$row.url3}"><img src="{$img['2']['path']}" style="width: 200px;height: 400px;"></a></div>
	<div style="width: 200px;height: 200px;border: solid #000 1px;float: left;margin: 20px 20px"><a href="{$row.url2}"><img src="{$img['3']['path']}" style="width: 200px;height: 200px;"></a></div>
	
</div>
    <elseif condition="$row.cate_id eq 2 "/>
    <div class="buju2" style="width: 500px;height: 500px;border: solid red 1px;">
	<div style="width: 200px;height: 200px;border: solid #000 1px;float: right;margin: 20px 20px"><a href="{$row.url1}"><img src="{$img['1']['path']}" style="width: 200px;height: 200px;"></a></div>
	<div style="width: 200px;height: 400px;border: solid #000 1px;float: left;margin: 50px 20px"><a href="{$row.url2}"><img src="{$img['2']['path']}" style="width: 200px;height: 400px;"></a></div>
	<div style="width: 200px;height: 200px;border: solid #000 1px;float: right;margin: 20px 20px"><a href="{$row.url3}"><img src="{$img['3']['path']}" style="width: 200px;height: 200px;"></a></div>
	
</div>
    <else /> 
    <div class="buju3" style="width: 500px;height: 500px;border: solid red 1px;">
	<div style="width: 400px;height:400px;border: solid #000 1px;float: right;margin: 50px 50px"><a href="{$row.url1}"><img src="{$img['1']['path']}" style="width: 400px;height: 400px;"></a></div>
	
</div>
    </if>



</block>

<block name="script">
	
</block>