<extend name="Public/base" />

<block name="main">
    <br>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="fa fa-signal"></i></span>
                    <h5>站点统计</h5>
                </div>
                <!--<ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1">编辑信息</a></li>
                    <li class=""><a data-toggle="tab" href="#tab2">其他信息</a></li>
                </ul>-->
                <div class="widget-content">
                    <div class="row-fluid">
                        <div class="span4">
                            <ul class="site-stats">
                                <li><i class="fa fa-user"></i> <strong>{$total_1}</strong> <small>用户总数</small></li>
                                <li><i class="fa fa-user-md"></i> <strong>{$total_2}</strong> <small>预约总数</small></li>
                                <!--<li class="divider"></li>-->
                                <li><i class="fa fa-cart-plus"></i> <strong>{$total_3}</strong> <small>商品总数</small></li>
                                <li><i class="fa fa-tasks"></i> <strong>{$total_4}</strong> <small>订单总数</small></li>
								<li><i class="fa fa-bookmark"></i> <strong>{$total_5}</strong> <small>帖子总数</small></li>
								<li><i class="fa fa-book"></i> <strong>{$total_6}</strong> <small>文章总数</small></li>
                            </ul>
                        </div>
                        <div class="span8">
                            {//hook('statistics',array('is_first'=>1,'chart_id'=>'line-container','chart_type'=>'spline','chart_data'=>$day_quantity_line,'core_content'=>1,'y_title_text'=>'quantity'))}
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        {:hook('AdminIndex')}
    </div>
</block>
<block name="script"></block>