<!--<button class="btn btn-primary" href="#export" data-toggle="modal">导出</button>&nbsp;

<!--导出 start-->
<!--<div id="export" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button><h3>导出EXCEL</h3>
    </div>
    <form action="{:U('Member/export')}" method="post" class="export-form">
    <div class="modal-body">
        <p>
            <input type="checkbox" value="ID||id" name="fields_data[]" checked/>ID　
            <input type="checkbox" value="登陆账号||account" name="fields_data[]" checked/>登录账号　
            <input type="checkbox" value="昵称||nickname" name="fields_data[]" checked/>昵称　
            <input type="checkbox" value="邮箱||email" name="fields_data[]" checked/>邮箱　
            <input type="checkbox" value="性别||sex" name="fields_data[]" checked/>性别　
            <input type="checkbox" value="积分||score" name="fields_data[]" checked/>积分　
            <input type="checkbox" value="注册时间||create_time" name="fields_data[]" checked/>注册时间　
        </p>
    </div>
    </form>
    <div class="modal-footer">
        <a data-dismiss="" class="btn btn-primary confirm-export" href="javascript:void(0)">确认导出</a>
        <a data-dismiss="modal" class="btn" href="javascript:void(0)">取消</a>
    </div>
    <script>
        $(function(){
            $('.confirm-export').click(function(){ $('.export-form').submit(); })
        })
    </script>
</div>-->
<!--导出 end-->