<extend name="Public/base" />

<block name="main">

    <div class="row-fluid main-row-fluid">

        <div class="span12">
            <div class="widget-box">
                <!--<div class="widget-title">
                    <span class="icon">
                        <i class="icon-plus"></i>
                    </span>
                    <h5></h5>
                </div>-->
                <ul class="nav nav-tabs">
                    <li <if condition="empty($_REQUEST['flag'])">class="active"</if>><a data-toggle="tab" href="#tab1">文章信息</a></li>
                </ul>
                <!--<div class="widget-title"></div>-->
                <br>
                <div class="widget-content tab-content no-padding">
                    <div id="tab1" <if condition="empty($_REQUEST['flag'])">class="tab-pane active"<else/>class="tab-pane"</if>>
                    <form class="form-horizontal text-height-27-form" method="post" action="{:U('Article/update')}" id="form">
                        <input type="hidden" name="model" value="Article1">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <div class="control-group">
                            <label class="control-label">文章标题</label>
                            <div class="controls">
                                <input type="text" name="title" value="{$row['title']}" class="text-width-50" maxlength="45">
                                <span class="help-block">* 45个字符以内</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">文章简述</label>
                            <div class="controls">
                                <input type="text" name="short_desc" value="{$row['short_desc']}" class="text-width-30" maxlength="15">
                                <span class="help-block">* 15个字符以内</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">所属分类</label>
                            <div class="controls">
                                {$select}
                                <span class="help-block">* 文章所属分类必选</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">封面图</label>
                            <div class="controls">
                                {:hook('upload',array('is_first'=>1,'unique_sign'=>'article_cover','field_name'=>'cover','field_value'=>$row['cover'],'save_path'=>'Article'))}
                                <span class="help-block">文章封面图长宽比例 1:1</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">轮播图</label>
                            <div class="controls">
                                {:hook('upload',array('queue_limit'=>'5','unique_sign'=>'article_pic','field_name'=>'pictures','field_value'=>$row['pictures'],'save_path'=>'Article'))}
                                <span class="help-block">文章轮播图长宽比例 3:2</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">文章内容</label>
                            <div class="controls">
                                <textarea name="content">{$row['content']}</textarea>
                                {:hook('adminArticleEdit', array('is_first'=>1,'name'=>'content','value'=>$row['content'],'width'=>810))}
                                <span class="help-block">* </span>
                            </div>
                        </div>
                        <!--<div class="control-group">
                            <label class="control-label">外链接</label>
                            <div class="controls">
                                <input type="text" name="link" value="{$row['link']}" class="text-width-50">
                                <span class="help-block">带有http://的全地址</span>
                            </div>
                        </div>-->
                        <div class="control-group">
                            <label class="control-label">是否推荐</label>
                            <div class="controls">
                                <label style="margin-right:20px;display:inline">
                                    <div class="radio"><span><input name="is_best" style="opacity: 0;" type="radio" value="1" <if condition="$row['is_best'] eq 1">checked</if>></span></div> 是
                                </label>
                                <label style="margin-right:20px;display:inline">
                                    <div class="radio"><span><input name="is_best" style="opacity: 0;" type="radio" value="0" <if condition="empty($row['is_best'])">checked</if>></span></div> 否
                                </label>
                                <span class="help-block">设置为是 则出现在首页</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">排序</label>
                            <div class="controls">
                                <input type="text" name="sort" value="{$row['sort']}" class="number-only text-width-10">
                                <span class="help-block">数值越大越靠前</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">浏览量</label>
                            <div class="controls">
                                <input type="text" name="view" value="{$row['view']}" class="number-only text-width-10">
                                <span class="help-block">可修改文章浏览量</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">收藏次数</label>
                            <div class="controls">
                                <input type="text" name="collections" value="{$row['collections']}" class="number-only text-width-10">
                                <span class="help-block">可修改文章收藏次数</span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post no-refresh" type="submit" id="submit" target-form="form-horizontal">保 存</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <include file="Public/modal_goods"/>

</block>